:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background: radial-gradient(circle, #ffffff, #e6e6e6); /* Radial gradient background */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Larger shadow for a 3D effect */
  border-radius: 15px; /* Rounded corners for the table */
  overflow: hidden; /* Ensures rounded corners are applied to the entire table */
}

th, td {
  padding: 20px 25px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ff9553;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.7); /* Slightly different color for odd rows */
}

td {
  color: #555;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow for depth */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.8em;
  margin: 1px;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #e85a26;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}